<a href="https://colab.research.google.com/github/sovikapoudel/Data-Visualiation-Spring-2022/blob/main/OneHotEncoding_and_get_dummies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:

url='https://github.com/sovikapoudel/Data-Visualiation-Spring-2022/blob/main/AB_NYC_2019.csv'
import pandas as pd
df = pd.read_csv(url, header=None, sep ='\n')
df = df[0].str.split(',', expand=True)
df #not being able to load the file on my own, tried various ways. Uploaded it to my github and still the link did not work but I read somewhere, we need raw github link.

                                                    0     1    ...   374   375
0                                       <!DOCTYPE html>  None  ...  None  None
1     <html lang="en" data-color-mode="auto" data-li...  None  ...  None  None
2                                                <head>  None  ...  None  None
3                                <meta charset="utf-8">  None  ...  None  None
4       <link rel="dns-prefetch" href="https://githu...  None  ...  None  None
...                                                 ...   ...  ...   ...   ...
1143                                  </clipboard-copy>  None  ...  None  None
1144                                             </div>  None  ...  None  None
1145                                        </template>  None  ...  None  None
1146                                            </body>  None  ...  None  None
1147                                            </html>  None  ...  None  None

[1148 rows x 376 columns]

In [78]:
url='/content/AB_NYC_2019.csv' #So I downloded the file and added it to colab under table of content
import pandas as pd
df2 = pd.read_csv(url, header=None, sep ='\n')
df2 = df2[0].str.split(',', expand=True)
df2
#Found this in some website, Looks like it worked

             0                                                  1   ...    89    90
0            id                                               name  ...  None  None
1          2539                 Clean & quiet apt home by the park  ...  None  None
2          2595                              Skylit Midtown Castle  ...  None  None
3          3647                THE VILLAGE OF HARLEM....NEW YORK !  ...  None  None
4          3831                    Cozy Entire Floor of Brownstone  ...  None  None
...         ...                                                ...  ...   ...   ...
49070  36484665    Charming one bedroom - newly renovated rowhouse  ...  None  None
49071  36485057      Affordable room in Bushwick/East Williamsburg  ...  None  None
49072  36485431            Sunny Studio at Historical Neighborhood  ...  None  None
49073  36485609               43rd St. Time Square-cozy single bed  ...  None  None
49074  36487245  Trendy duplex in the very heart of Hell's Kitchen  ...  None  None

[49075 rows x 91 columns]

In [120]:
#df2.rename(columns=df.iloc[0])
#f2
df2= pd.read_csv('/content/AB_NYC_2019.csv', header=[0])

df2.head(10)
##had to do this to assign 1st row as header

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0
5  5099  ...              129
6  5121  ...                0
7  5178  ...              220
8  5203  ...                0
9  5238  ...              188

[10 rows x 16 columns]

#Use the data file found here on AirB&B in NYC. Convert the neighbourhood_group and the room_type into appropriate numerical data. Justify your decisisons on how you made the transformations.

In [111]:
df = pd.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/AB_NYC_2019.csv") ##now I can see this is a link to the raw dataset. Anyways both works! I will use this for now.
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

###Convert the neighbourhood_group and the room_type into appropriate numerical data

In [130]:
df2= pd.read_csv('/content/AB_NYC_2019.csv', header=[0])
df2 = pd.get_dummies(df2, columns=['neighbourhood_group'])
df2 #neighbourhood_group has been seperated into different column woth numerical value.

             id  ... neighbourhood_group_Staten Island
0          2539  ...                                 0
1          2595  ...                                 0
2          3647  ...                                 0
3          3831  ...                                 0
4          5022  ...                                 0
...         ...  ...                               ...
48890  36484665  ...                                 0
48891  36485057  ...                                 0
48892  36485431  ...                                 0
48893  36485609  ...                                 0
48894  36487245  ...                                 0

[48895 rows x 20 columns]

In [134]:
df2= pd.read_csv('/content/AB_NYC_2019.csv', header=[0])
df3=df2['neighbourhood_group'] = df2['neighbourhood_group'].map({1: 'Bronx', 2: 'Brooklyn', 3: 'Manhattan', 4: 'Queens', 5: 'Staten Island'})

df3.tail() #this shows the end of the list, this way of mapping is not working for some reason, I found it onlinme it worked there.

48890    NaN
48891    NaN
48892    NaN
48893    NaN
48894    NaN
Name: neighbourhood_group, dtype: object

We know the "neighbourhood_group" column is categorical, not numeric. So, to change this into numerical data, the categorical values in the column using the pandas biultin function pd.get_dummies.

And for room_type, I am going to one-hot encode (this means a representation of categorical variables as binary vectors)


As I mentioned earlier, one Hot Encoding is the data processing process that converts categorical data into binary vector. Such process are often practice gor Machine Learning Algorithm. 
And, get_dummies() function is used to convert categorical variable into dummy/indicator variables.

In [81]:
pd.get_dummies(df2.neighbourhood_group).head() #get_dummies() function is used to convert categorical variable into dummy/indicator variables. This is just givind result in Binary value.

   Bronx  Brooklyn  Manhattan  Queens  Staten Island
0      0         1          0       0              0
1      0         0          1       0              0
2      0         0          1       0              0
3      0         1          0       0              0
4      0         0          1       0              0

In [110]:
newdf=pd.get_dummies(df.neighbourhood_group)
newdf #just another way, same as previous

       Bronx  Brooklyn  Manhattan  Queens  Staten Island
0          0         1          0       0              0
1          0         0          1       0              0
2          0         0          1       0              0
3          0         1          0       0              0
4          0         0          1       0              0
...      ...       ...        ...     ...            ...
48890      0         1          0       0              0
48891      0         1          0       0              0
48892      0         0          1       0              0
48893      0         0          1       0              0
48894      0         0          1       0              0

[48895 rows x 5 columns]

#Now for room_type I am following Dr. Jacob's method

In [105]:
rmtyp = sorted(df.room_type.unique())
rmtyp #this prints out 3 types and that's the range
rmtypdict = {}
for i in range(3):
  rmtypdict[rmtyp[i]] = i

rmtypdict
##This will create a dictionary and assign the value to each category.

{'Entire home/apt': 0, 'Private room': 1, 'Shared room': 2}

In [106]:
df2.room_type.map(rmtypdict) #here I have mapped all the room_type to the dictionary I created in previous step.

0        1
1        0
2        1
3        0
4        0
        ..
48890    1
48891    1
48892    0
48893    2
48894    1
Name: room_type, Length: 48895, dtype: int64

In [108]:
df2.room_type = df2.room_type.map(rmtypdict)

df2.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 15 columns]

This looks more clean and easy to understand. But searching for various method has really helped me understand better everyday.